@CHARSET "ISO-8859-1";
/* line 124, ../sass/main.scss */
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 130, ../sass/main.scss */
body {
  font-family: "OpenSansLt", "OpenSansLt_IE";
}

/* line 134, ../sass/main.scss */
div, button {
  padding: 0;
  margin: 0;
  border: 0px;
}

/* line 145, ../sass/main.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 150, ../sass/main.scss */
h1, h2, h3, h4 {
  font-family: "OpenSansLt", "OpenSansLt_IE";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* line 158, ../sass/main.scss */
h2 {
  font-size: 1.35rem;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  font-weight: 200;
}

/* line 164, ../sass/main.scss */
#svg {
  width: 700px;
  height: 700px;
  margin: 400 auto;
  background-color: grey;
}

/* line 171, ../sass/main.scss */
.st0 {
  stroke: red;
  fill: none;
  stroke-dasharray: 3500;
  stroke-dashoffset: 0;
  -moz-animation: dash 8s linear forwards;
  -webkit-animation: dash 8s linear forwards;
  animation: dash 8s linear forwards;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 3500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
